html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-weight: 400;
    font-family: "Varela Round", sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.start-header {
    color: #eee;
    background-color: #34302d;
    font-size: 25px;
    padding: 0.5em 0;
    border-top: 4px solid #6db33f;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #5d5d5d;
    color: #eee;
    padding: 20px 0;
}

.installer-checkbox {
    margin: 5px !important;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: .25em;
}

#installers {
    min-height: 40px;
}

.tag {
    background-color: #6db33f;
    color: #fff;
    font-weight: 700;
    border-radius: .25em;
    display: inline-block;
    padding: 0.4em 0.7em;
    margin: 0.2em;
}

.tag .close {
    float: none;
    margin-left: 0.2em;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

#generate-script,
#add-script {
    margin-top: 15px;
    background-image: -webkit-linear-gradient(top, #6db33f 0, #51862f 100%);
    background-image: -o-linear-gradient(top, #6db33f 0, #51862f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6db33f), to(#51862f));
    background-image: linear-gradient(to bottom, #6db33f 0, #51862f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6db33f', endColorstr='#ff51862f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #4d7e2c;
}