#--------------------#
#        IDE         #
#--------------------#
.idea/

#--------------------#
#    Dependencies    #
#--------------------#
node_modules/
bower_components/
*.lock

#--------------------#
#        Logs        #
#--------------------#
/server/logs/
*.log
